body {
  margin: 0px;
  font-family: "Noto Serif", sans-serif, arial, helvetica;
}

a {
  text-decoration: none;
  color: purple;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  background-color: pink;
  padding: 8px;
  height: auto;
}

.header > .header-title {
  font-size: 24px;
}

.header > .header-text {
  font-size: 18px;
}

.header-item {
  padding: 8px;
}

.header-item-right {
  float: right;
}

.header-item:hover {
  cursor: pointer;
  color: blue;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: pink;
  padding: 4px;
  height: auto;
  text-align: center;
}

.header,
.main,
.footer {
  flex-shrink: 0;
}

.modal-dialog {
  width: fit-content;
  max-width: 50%;
}

.modal-dialog-content {
  word-wrap: break-word;
}

home-cards {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

home-card {
  margin: 8px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 8px;
  flex: 1 1 auto;
  height: auto;
  max-width: 160px;
}

home-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  border-radius: 4px;
  width: auto;
}

.card-subtitle {
  text-align: center;
}

table {
  width: inherit;
  margin: 4px 2px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  border-spacing: 0;
}

th,
td {
  padding: 2px;
}

td {
  border-top: 1px solid #aaaaaa;
}

/* tr {
  border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
  border-collapse: collapse;
} */

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: lightcyan;
}

.table-container {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.inner-table {
  width: 80vw;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.td-fit {
  width: 76px;
}

.badge {
  border-radius: 4px;
  padding: 4px;
  background-color: blue;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}

button {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  margin: 2px;
  border-radius: 4px;
  font-size: x-large;
  font-variant: all-small-caps;
}

button:hover:enabled {
  border: 1px solid #000000;
  cursor: pointer;
}

input {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  margin: 2px;
  border-radius: 4px;
  font-size: x-large;
}

input:selection {
  border: 1px solid #000000;
}

.page-span {
  display: inline-block;
  width: 82px;
  text-align: center;
}

span {
  white-space: nowrap;
}

@media only screen and (max-width: 800px) {
  home-cards {
    flex-direction: column;
  }
  .modal-dialog {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1280px) {
  .inner-table {
    width: 1024px;
  }
}
